.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 60px 20px 80px;
}
.container .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    color: var(--color-text-secondary);
    border-bottom: 0.1px solid var(--color-text-secondary);
}