.container{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 60px;
    padding: 100px 60px 20px 80px;
    margin-bottom: 140px;
}
.description{
    color: var(--color-text-primary);
}
.perfil img{
    width: 320px;
    height: 320px;
    border-radius: 5px;
}
.hello{
    margin-bottom: 15px;
}
.name{
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 17px;
    color: var(--color-text-secondary);
}
.specialist{
    font-size: 27px;
    margin-bottom: 23px;
}
.message{
    font-size: 20px;
    margin-bottom: 43px;
}
.buttons{
    display: flex;
    gap: 30px;
}
.buttons a{
    padding: 15px 23px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--color-font-secondary);
    background-color: transparent;
    color: var(--color);
    font-weight: 500;
    font-size: 20px;
    transition-duration: 500ms;
}
.buttons a:nth-child(1){
    color: var(--color-text-secondary);
    font-weight: 600;
}
.buttons a:hover{
    transition-timing-function: ease-in-out;
    opacity: 0.6;
    color: var(--color-font-primary);
    background-color: var(--color-text-secondary);
    font-weight: 600;
}