.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 60px 20px 80px;
    margin: auto auto 140px auto;
    max-width: 1700px;
    position: relative;
}
.container .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    color: var(--color-text-secondary);
    border-bottom: 0.1px solid var(--color-text-secondary);
}
.container .subtitle{
    color: var(--color-text-primary);
    padding: 15px 0px 15px 0px;
    font-size: 35px;
    letter-spacing: 3px;
}
.container .proyect{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    row-gap: 2.3px;
    justify-items: center;
    align-items: center;
    margin-bottom: 200px;
}
.container .proyect .card{
    position: relative;
    min-height: 235px;
    max-height: 235px;
    justify-self: center;
    border-radius: 3px;
    overflow: hidden;
}
.container .proyect .card img{
    width: 375px;
    height: 235px;
    border-radius: 3px;
    cursor: pointer;
}
.container .proyect .card:hover img{
    opacity: 0.9;
}
.container .proyect .card:hover .description{
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-text-primary);
    animation: animate_proyecto 1s linear;
}
.container .proyect .card .description{
    color: var(--color-font-primary);
    width: 375px;
    height: 235px;
    border-radius: 3px;
    top: 0px;
    display: none;
}
.container .proyect .card .description p{
    padding: 10px 12px;
    font-size: 15px;
}
.container .proyect .card .description p:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.container .proyect .card .description p ion-icon{
    width: 25px;
    height: 25px;
    color: var(--color-font-primary);
    border-radius: 50%;
    transition-duration: 700ms;
}
.container .proyect .card .description p ion-icon:hover{
    transition-timing-function: ease-in-out;
    transform: translateY(-1.5px);
    color: var(--color-text-secondary);
}
.container .experiencia{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    border-radius: 5px;
    background-color: var(--color-text-secondary);
    color: var(--color-font-primary);
    padding: 45px;
    margin-bottom: 150px;
}
.container .experiencia div:nth-child(1) h3{
    font-size: 35px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 10px;
    border-bottom: 4px solid var(--color-font-primary);
}
.container .experiencia div:nth-child(1) p{
    font-size: 17px;
    opacity: 0.8;
}
.container .experiencia div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container .experiencia div:nth-child(2) a{
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 5px;
    background-color: var(--color-font-primary);
    color: var(--color-text-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border: 0.1px solid;
    transition-duration: 700ms;
}
.container .experiencia div:nth-child(2) a:hover{
    transition-timing-function: ease-in-out;
    border: 0.1px solid var(--color-font-primary);
    background-color: var(--color-text-secondary);
    color: var(--color-font-primary);
}
.container .experiencia div:nth-child(2) a:hover ion-icon{
    animation: animate_button 1s linear infinite;
}
.container .experiencia div:nth-child(2) span{
    font-weight: 500;
    font-size: 20px;
}
.container .experiencia div:nth-child(2) ion-icon{
    width: 22px;
    height: 22px;
}
.container .data{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    justify-items: center;
}
.container .data .item{
    display: flex;
    align-items: center;
    gap: 20px;
}
.container .data .item ion-icon{
    width: 100px;
    height: 100px;
    color: var(--color-text-primary);
}
.container .data .item p{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    padding-right: 40px;
}
.container .data .item span:nth-child(1){
    font-size: 35px;
    font-weight: bold;
    color: var(--color-text-secondary);
}
.container .data .item span:nth-child(2){
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
}
@keyframes animate_button{
    0%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(-3px);
    }
}
@keyframes animate_proyecto{
    0%{
        top: 220px;
    }
    100%{
        top: 0;
    }
}