.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 60px 20px 80px;
    margin: auto auto 140px auto;
    max-width: 1700px;
}
.container .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    letter-spacing: 1px;
    color: var(--color-text-secondary);
    border-bottom: 0.1px solid var(--color-text-secondary);
}
.container .title ion-icon{
    transition-duration: 300ms;
}
.container .title ion-icon:hover{
    cursor: pointer;
    opacity: 0.7;
    transition-timing-function: ease-in-out;
    transform: translateX(1.3px);
}
.container .ofrezco{
    font-size: 35px;
    padding-top: 8px;
    letter-spacing: 4px;
    margin-bottom: 13px;
}
.container .description{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    justify-items: center;
}
.container .description .item{
    background-color: transparent;
    border-radius: 5px;
    border: 0.1px solid var(--color-text-secondary);
    padding: 20px;
}
.container .description .item:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0.5px var(--color-text-secondary);
}
.container .description .item:hover .icon{
    transition-timing-function: ease-in-out;
    transform: translateY(-6px);
    background-color: var(--color-font-primary);
    border: 0.1px solid var(--color-text-secondary);
}
.container .description .item:hover .icon ion-icon, .container .description .item:hover .icon i{
    color: var(--color-text-secondary);
}
.container .description .item:hover h3{
    color: var(--color-text-secondary);
}
.container .description .item .icon{
    width: 75px;
    height: 75px;
    background-color: var(--color-text-secondary);
    margin: auto auto 15px auto;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: grid;
    place-items: center;
    border: 0.1px solid;
    transition-duration: 700ms;
    color: var(--color-font-primary);
}
.container .description .item .icon ion-icon{
    width: 50px;
    height: 50px;
}
.container .description .item h3{
    font-size: 22px;
    color: var(--color-text-primary);
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.container .description .item p{
    font-size: 17px;
    color: var(--color-text-primary);
    opacity: 0.7;
}
@media (max-width : 575px){
    .container{
        padding: 20px 40px 50px 80px;
    }
    .container .ofrezco{
        font-size: 22px;
        padding-top: 5px;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .container .title{
        font-size: 20px;
    }
    .container .title ion-icon{
        width: 20px;
        height: 20px;
    }
    .container .description{
        margin-bottom: -120px;
    }
    .container .description .item{
        padding: 15px 10px 10px 10px;
    }
    .container .description .item h3{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .container .description .item p{
        font-size: 16px;
    }
}
@media (max-width : 410px){
    .container{
        padding: 20px 30px 50px 60px;
    }
    .container .ofrezco{
        font-size: 20px;
        padding-top: 0px;
        margin-top: -10px;
        letter-spacing: 1px;
        margin-bottom: -5px;
    }
    .container .description{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .container .description .item{
        padding: 15px 10px 10px 10px;
    }
    .container .description .item:hover{
        cursor: pointer;
        box-shadow: 0 0 5px 0.3px var(--color-text-secondary);
    }
    .container .description .item .icon{
        width: 67px;
        height: 67px;
        margin: auto auto 5px auto;
    }
    .container .description .item h3{
        font-size: 17px;
        margin-bottom: 5px;
        letter-spacing: 1px;
    }
    .container .description .item p{
        font-size: 13px;
    }
}