.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 60px 140px 80px;
    margin: auto;
    max-width: 1700px;
}
.container .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    letter-spacing: 1px;
    color: var(--color-text-secondary);
    border-bottom: 0.1px solid var(--color-text-secondary);
}
.container .title ion-icon{
    transition-duration: 300ms;
}
.container .title ion-icon:hover{
    cursor: pointer;
    opacity: 0.7;
    transition-timing-function: ease-in-out;
    transform: translateX(1.3px);
}
.container .contratan, .container .description{
    color: var(--color-text-primary);
}
.container .contratan{
    font-size: 35px;
    padding-top: 8px;
    letter-spacing: 4px;
}
.container .description{
    font-size: 20px;
    opacity: 0.7;
}
.container .habilidades{
    padding: 25px 0px;
}
.container .habilidades{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
}
.porcentaje{
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.porcentaje .svg{
    border-radius: 50%;
    position: relative;
    width: 110px;
    height: 110px;
    transform: rotate(270deg);
}
.porcentaje .svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 3;
    stroke: gray;
    transform: translate(5px, 5px);
}
.porcentaje .svg circle:nth-child(2){
    stroke: var(--color-text-secondary);
    stroke-dasharray: 310;
    stroke-dashoffset: calc(310 - (310 * var(--number-porcentaje)) / 100);
}
.porcentaje .dot:hover{
    cursor: pointer;
    animation: animate_skill 2s linear;
}
.porcentaje .dot:hover ~ .svg{
    background-color: var(--color-text-secondary);
}
.porcentaje .dot:hover ~ .number ion-icon, .porcentaje .dot:hover ~ .number i{
    transition-timing-function: ease-in-out;
    transform: translateY(-2px);
}
.porcentaje .dot:hover ~ .number p, .porcentaje .dot:hover ~ .number h2{
    color: var(--color-font-primary);
    transition-timing-function: ease-in-out;
    transform: translateY(-2px);
}
.porcentaje .dot:hover ~ .svg circle{
    stroke: var(--color-font-primary);
}
.porcentaje .dot:hover::before{
    background-color: var(--color-font-primary);
}
.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--number-porcentaje)));
}
@keyframes animate_skill{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--number-porcentaje)));
    }
}
.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 11px;
    height: 11px;
    background-color: var(--color-text-secondary);;
    border-radius: 50%;
}
.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-text-secondary);
    margin-top: -3px;
}
.number i{
    transition-duration: 700ms;
}
.number img{
    width: 35px;
    height: 35px;
}
.number .react{
    color:rgb(11, 212, 212);
}
.number .jira{
    transform: rotate(50grad);
}
.number .trello, .number .jquery{
    color: #007AD9;
}
.number .mongodb{
    color: green;
}
.number h2{
    font-size: 18px;
    transition-duration: 700ms;
}
.number p{
    color: var(--color-text-secondary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.7px;
    letter-spacing: 1px;
    transition-duration: 700ms;
}
.number .bootstrap{
    color: purple;
}
@media (max-width : 615px){
    .container .contratan{
        font-size: 30px;
        padding-top: 5px;
        letter-spacing: 2px;
    } 
    .container .description{
        font-size: 17px;
    }
    .container .habilidades{
        margin-bottom: 50px;
    } 
}
@media (max-width : 575px){
    .container{
        padding: 20px 40px 0px 80px;
    }
    .container .habilidades{
        grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
    } 
    .container .contratan{
        font-size: 22px;
        letter-spacing: 2px;
    } 
    .container .title{
        font-size: 20px;
    }
    .container .title ion-icon{
        width: 20px;
        height: 20px;
    }
    .container .habilidades{
        grid-gap: 1px;
    }
    .number img{
        width: 15px;
        height: 15px;
    }
    .porcentaje{
        width: 70px;
        height: 70px;
    }
    .porcentaje .svg{
        width: 70px;
        height: 70px;
        transform: rotate(270deg);
    }
    .porcentaje .svg circle:nth-child(2){
        stroke-dasharray: 190;
        stroke-dashoffset: calc(190 - (190 * var(--number-porcentaje)) / 100);
    }
    .porcentaje .svg circle{
        stroke-width: 1.5;
        background-color: blue;
    }
    .number h2{
        font-size: 13px;
    }
    .number p{
        font-size: 8px;
        letter-spacing: 0.6px;
    }
    .dot::before{
        top: -3.5px;
        width: 7px;
        height: 7px;
    }
}
@media (max-width : 410px){
    .container{
        padding: 20px 30px 0px 60px;
    }
    .container .contratan{
        font-size: 20px;
        padding-top: 0px;
        margin-top: -10px;
        letter-spacing: 1px;
        margin-bottom: -5px;
    }
    .container .description{
        font-size: 14px;
    }
    .container .habilidades{
        padding: 10px 0px;
    }
}
@media (max-width : 334px){
    .container .contratan{
        letter-spacing: 0.3px;
    }
}