.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 60px 140px 80px;
    margin: auto;
    max-width: 1700px;
}
.container .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    letter-spacing: 1px;
    color: var(--color-text-secondary);
    border-bottom: 0.1px solid var(--color-text-secondary);
}
.container .title ion-icon{
    transition-duration: 300ms;
}
.container .title ion-icon:hover{
    cursor: pointer;
    opacity: 0.7;
    transition-timing-function: ease-in-out;
    transform: translateX(1.3px);
}
.container .contratan, .container .description{
    color: var(--color-text-primary);
}
.container .contratan{
    font-size: 35px;
    padding-top: 8px;
    letter-spacing: 4px;
}
.container .description{
    font-size: 20px;
    opacity: 0.7;
    margin-bottom: 20px;
}
.container .habilidades{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px 20px;
    justify-items: center;
    align-items: center;
}
.container .habilidades .habilidad{
    width: 100%;
}
.container .habilidades .habilidad .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}
.container .habilidades .habilidad .name span{
    font-size: 13px;
    font-weight: 600;
    color: var(--color-text-secondary);
}
.container .habilidades .habilidad .name img{
    width: 25px;
    height: 25px;
}
.container .habilidades .habilidad .name .bootstrap{
    color: purple;
}
.container .habilidades .habilidad .name .react{
    color:rgb(11, 212, 212);
}
.container .habilidades .habilidad .name .jira{
    transform: rotate(50grad);
}
.container .habilidades .habilidad .name .trello, .container .habilidades .habilidad .name .jquery{
    color: #007AD9;
}
.container .habilidades .habilidad .name .mongodb{
    color: green;
}
.container .habilidades .habilidad .bar{
    background-color: rgba(106, 103, 103, 0.235);
    height: 8px;
    border-radius: 30px;
    position: relative;
}
.container .habilidades .habilidad .bar::before{
    position: absolute;
    content: '';
    background-color: var(--color-text-secondary);
    width: var(--number-porcentaje);
    height: 8px;
    border-radius: 30px;
}
.container .habilidades:hover .habilidad .bar::before{
    animation: animate_skill 1s linear;
}
@keyframes animate_skill{
    0%{
        width: 0%;
    }
    100%{
        width: var(--number-porcentaje);
    }
}
@media (max-width : 615px){
    .container .contratan{
        font-size: 30px;
        padding-top: 5px;
        letter-spacing: 2px;
    } 
    .container .description{
        font-size: 17px;
    }
    .container .habilidades .habilidad .bar, .container .habilidades .habilidad .bar::before{
        height: 6px;
    }
}
@media (max-width : 575px){
    .container{
        padding: 20px 40px 0px 80px;
    }
    .container .habilidades{
        grid-template-columns: 1fr 1fr;
    } 
    .container .contratan{
        font-size: 22px;
        letter-spacing: 2px;
    } 
    .container .title{
        font-size: 20px;
    }
    .container .title ion-icon{
        width: 20px;
        height: 20px;
    }
}
@media (max-width : 410px){
    .container{
        padding: 20px 30px 0px 60px;
    }
    .container .contratan{
        font-size: 20px;
        padding-top: 0px;
        margin-top: -10px;
        letter-spacing: 1px;
        margin-bottom: -5px;
    }
    .container .description{
        font-size: 14px;
    }
    .container .habilidades{
        grid-template-columns: 1fr;
    } 
}
@media (max-width : 334px){
    .container .contratan{
        letter-spacing: 0.3px;
    }
}