:root{
  --color-font-primary : #000000;
  --color-font-secondary : #083156;
  --color-font-tertiary : rgb(38, 33, 33);
  --color-text-primary : #ffffff;
  --color-text-secondary : rgba(0, 255, 255, 0.742);
  --type-text-primary : ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono','Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro','Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  height: 100vh;
  background: var(--color-font-primary);
  font-family: var(--type-text-primary);
}
html,body{
  width: 100%;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  width: 7px;
}
body::-webkit-scrollbar-thumb{
  background: var(--color-text-secondary);
  border-radius: 30px;
}